<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form fxLayoutAlign="strecth" fxLayout="column" class="login-form">
            <mat-form-field >
                <input matInput placeholder="Email" [(ngModel)]="email" name="email" >
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="password" [(ngModel)]="password" name="password">
            </mat-form-field>
            <button (click)=loginSubmit() mat-raised-button type="submit">Login </button>
        </form>  
      </mat-card>
</div>
